


<div class="row mb-2">
    <div class="col">
        <button
        title="Cadastrar um novo cliente"
        class="btn btn-primary  me-2"
        (click)="exibirTelaNovoCliente()">
            <i class="bi bi-person-plus-fill"></i>
        </button>
        <button
        title="Buscar cliete por nome ou data de nascimento"
        class="btn btn-primary "
        (click)="exibirTelaBuscaCliente()">
            <i class="bi bi-search"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-3" *ngIf="cliente">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header text-center">Atendimento</div>
            <div class="card-body text-primary">
              <h5 class="card-title">{{ cliente.nome }}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <form [formGroup]="formAtendimento" (submit)="salva()">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input
                            formControlName="dataHoraAtendimento"
                            type="datetime-local"
                            class="form-control"
                            id="timestampAtendimento"
                            >
                            <label for="timestampAtendimento">Data/Hora Atendimento</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <select
                                formControlName="estadoAtendimento"
                                class="form-select"
                                id="estadoAtendimento"
                                aria-label="Estado atendimento"
                            >
                                <option selected>Selecione</option>
                                <option
                                    [value]="item"
                                    *ngFor="let item of listaAtendimento">
                                    {{ item }}
                                </option>
                            </select>
                            <label for="estadoAtendimento">Estado Atendimento</label>
                        </div>
                    </div>
                </div>
            </div>
            <lista-procedimento-app
                (enviaProcedimentoSelecionadoEvent)="recebeProcedimentoSelecionado($event)"
            ></lista-procedimento-app>        
            <table *ngIf="pacoteAtendimento">
                <tbody>
                    <tr *ngFor="let item of pacoteAtendimento.listaProcedimento">
                        <td>{{ item.nome }}</td>
                    </tr>
                </tbody>
            </table>
            <button type="submit">Salvar</button>
        </form>
    </div>
</div>


<modal-app
    tituloModal="Bucar Cliente"
    idModal="buscaPorCliente">
        <form-cliente-app
            *ngIf="isShowBuscaCliente"
            (enviaDadosFormularioEvent)="recebeDadosFormulario($event)"
            nomeBotao="Buscar"
            [formCliente]="formCliente"
        ></form-cliente-app>

        <table class="table table-borderless mt-2" >
            <tbody>
                <tr *ngFor="let item of listaCliente" (click)="selecionaCliente(item)" class="maozinha">
                    <td>{{ item.nome }}</td>
                    <td>{{ item.dataNascimento | date:"dd/MM/yyyy"}}</td>
                </tr>
            </tbody>
        </table>
</modal-app>

<modal-app
    tituloModal="Cadastrar Novo Cliente"
    idModal="adicionaCliente">
    <form-cliente-app
        *ngIf="isShowNovoCliente"
        (enviaDadosFormularioEvent)="recebeDadosFormulario($event)"
        nomeBotao="Salvar"
        [formCliente]="formCliente"
    ></form-cliente-app>

</modal-app>