server:
  port: 8081
  
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: 'autenticacao'
  data:
    mongodb:
      host: localhost
      port: 27017
      database: autenticacao
      