server:
  port: 5555
  
spring:
  application:
    name: 'gateway'
  cloud:
    gateway:
      filter:
        remove-request-header:
          enabled: false

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
